<footer>
  <p>&copy; 2024 TasteTrails. Crafted with love for food and travel enthusiasts.</p>
  <ul>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">Twitter</a></li>
  </ul>
</footer>
