<header>
    <nav class="navbar">
      <div class="logo-container">
        <a href="/">
          <img src="https://cdn.glitch.global/4b76aa4c-4fcc-4ec2-acff-1ec1977befae/Screenshot%202025-05-10%20140940.png?v=1746900643906" alt="TasteTrails Logo">
        </a>
        <a href="/" class="logo">Roam&Relish</a>
      </div>
      <ul class="nav-links">
        <li><a href="/explore">Explore</a></li>
        <li><a href="/blogs/create">Create Blog</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup" class="btn-signup">Sign Up</a></li>
      </ul>
    </nav>
</header>