<header>
  <nav class="navbar">
    <div class="logo-container">
      <a href="/">
        <img src="https://cdn.glitch.global/2679bf09-2c70-4505-a2a8-7f4966f413aa/DALLE2024-12-1316.28.03-AnexquisiteandcreativelogoforTasteTrailsafoodandtravelblog.Thedesignintegratesacircularglobeinsoftpasteltonessymbolizingtra-ezgif.com-webp-to-jpg-converter.jpg?v=1734125364737" alt="TasteTrails Logo">
      </a>
      <a href="/" class="logo">TasteTrails</a>
    </div>
    <ul class="nav-links">
      <li><a href="/explore">Explore</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/signup" class="btn-signup">Sign Up</a></li>
    </ul>
  </nav>
</header>
