<h1>Are you sure you want to delete this blog?</h1>
<p>Title: <%= blog.title %></p>
<p>Content: <%= blog.content %></p>

<form action="/blogs/<%= blog._id %>/delete" method="POST">
  <button type="submit">Delete</button>
  <a href="/blogs/<%= blog._id %>">Cancel</a>
</form>
