<%- include('layout', {
  title: `Delete Blog - ${blog.title}`,
  body: `
    <section class="form-container">
      <h1>Delete Blog</h1>
      <p>Are you sure you want to delete the blog titled "<strong>${blog.title}</strong>"?</p>
      <form method="POST" action="/blogs/${blog._id}?_method=DELETE" class="delete-form">
        <button type="submit" class="btn-danger">Yes, Delete</button>
      </form>
      <a href="/blogs/${blog._id}" class="btn-secondary">Cancel</a>
    </section>
  `
}) %>
