<%- include('layout', {
  title: 'TasteTrails | Discover Food & Travel',
  body: `
    <section class="header">
      <div>
       <h1>Welcome to TasteTrails</h1> 
      </div>
      <p>Embark on a journey of flavors and unforgettable destinations.</p>
      <div class="hero-buttons">
        <a href="/explore" class="btn-primary">Start Exploring</a>
        <a href="/signup" class="btn-secondary">Join Us Today</a>
      </div>
    </section>
  `
}) %>
